@page "/Lobby/{RoomId:int}/{PlayerId:int}"
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject GlobalData GlobalData
@inject Uri WebSocketUri
@using TableTopSim.Shared
@using DataLayer
@using System.Threading

@if (gameInfo != null)
{
    <h3>Game: @gameInfo.Name   @gameInfo.MinPlayers-@gameInfo.MaxPlayers Players</h3>
}
<h3>Room: @RoomId</h3>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table>
        <TableBody>
            <TableRow>
                <TableRowCell>@thisPlayer.Name <b>(You)</b></TableRowCell>
            </TableRow>
            @foreach (var player in players)
            {
                @if (player.PlayerId != PlayerId)
                {
                    <TableRow>
                        <TableRowCell>@player.Name</TableRowCell>
                    </TableRow>
                }
            }
        </TableBody>
    </Table>

    <br />

    @if (thisPlayer.IsHost)
    {
        <Button Clicked="OnStartGameClick" Color="Color.Primary" 
                Disabled="players==null||gameInfo==null||players.Length < gameInfo.MinPlayers || players.Length > gameInfo.MaxPlayers">Start Game</Button>
    }
}

@code {
    [Parameter]
    public int RoomId { get; set; }
    [Parameter]
    public int PlayerId { get; set; }

    public Player[] players { get; set; } = null;
    Player thisPlayer = null;
    CancellationTokenSource cts = new CancellationTokenSource();
    GameDataDto gameInfo = null;
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
        _ = UpdatePlayers(cts.Token);
    }
    void OnLocationChanged(object sender, LocationChangedEventArgs args)
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
        if (GlobalData.WebSocket != null)
        {
            GlobalData.WebSocket.OnRecieved -= OnRecivedWSMessage;
        }
        cts.Cancel();
    }

    void OnRecivedWSMessage(ArraySegment<byte> message)
    {
        MessageType mt = (MessageType)message[0];
        if (mt != MessageType.StartGame) { return; }
        message = message.Slice(1);
        int roomId = MessageExtensions.GetNextInt(ref message);
        if (roomId == RoomId)
        {
            GlobalData.WebSocket.OnRecieved -= OnRecivedWSMessage;
            cts.Cancel();
            NavigationManager.NavigateTo($"/Game/{RoomId}/{PlayerId}");
        }
    }

    async Task UpdatePlayers(CancellationToken ct)
    {
        thisPlayer = await GlobalData.ReconnectWebSocket(WebSocketUri, PlayerId);
        if (thisPlayer == null)
        {
            GlobalData.ShowMessage($"The Player Does Not Exist");
            cts.Cancel();
            NavigationManager.NavigateTo("");
            return;
        }
        else if (thisPlayer.RoomId == null)
        {
            GlobalData.ShowMessage($"The Player Is Not In A Room");
            cts.Cancel();
            NavigationManager.NavigateTo("");
            return;
        }
        else if (thisPlayer.RoomId != RoomId)
        {
            GlobalData.ShowMessage($"The Player Is Not In Room: {RoomId}");
            cts.Cancel();
            NavigationManager.NavigateTo("");
            return;
        }
        else if (!thisPlayer.RoomOpen)
        {
            GlobalData.ShowMessage($"Game Already Started");
            cts.Cancel();
            NavigationManager.NavigateTo($"Game/{RoomId}/{PlayerId}");
            return;
        }
        gameInfo = await ReTryer.Try(300, 3, async () => await GameDL.GetGame(Http, thisPlayer.GameId));
        if (gameInfo == null)
        {
            GlobalData.ShowMessage($"Connection Issue");
            cts.Cancel();
            NavigationManager.NavigateTo("");
            return;
        }

        GlobalData.WebSocket.OnRecieved += OnRecivedWSMessage;


        while (true)
        {
            if (ct.IsCancellationRequested) { break; }
            Player[] newPlayers = await ReTryer.Try(100, 3, async () => await RoomDL.GetPlayers(Http, RoomId));
            if (newPlayers == null)
            {
                GlobalData.ShowMessage($"An Error Has Occured");
            }
            else
            {
                players = newPlayers;
                StateHasChanged();
            }


            await Task.Delay(1000, ct);
        }
    }
    async void OnStartGameClick()
    {
        await RoomDL.StartGame(GlobalData.WebSocket, RoomId, PlayerId);
    }
}
