@using Blazorise
<Modal @ref="modal">
    <ModalBackdrop />
    <ModalContent Centered="@IsCentered" Size="@Size">
        @if (Title != null)
        {
            <ModalHeader>

                <ModalTitle>@Title</ModalTitle>
                <CloseButton Clicked="@CloseClicked" />
            </ModalHeader>
        }
        <ModalBody>
            @ChildContent
            @if (Title == null)
            {
                <CloseButton Clicked="@CloseClicked" />
            }
        </ModalBody>
        @*<ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">@CloseText</Button>
            </ModalFooter>*@
    </ModalContent>
</Modal>
@code {
    Modal modal;
    [Parameter]
    public bool IsCentered { get; set; } = false;
    [Parameter]
    public string Title { get; set; } = null;
    [Parameter]
    public ModalSize Size { get; set; } = ModalSize.Default;
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public Action OnCloseClicked { get; set; }
    void CloseClicked()
    {
        HideModal();
        OnCloseClicked?.Invoke();
    }
    public void ShowModal()
    {
        modal.Show();
    }
    public void HideModal()
    {
        modal.Hide();
    }
}
